<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Login a Fermi Notify.">
    <meta propety="og:image" content="/img/og-logo.png">
    <meta property="og:description" content="Fermi Notify è un servizio non ufficiale dell'IS &quot;E. Fermi&quot; Mantova che invia delle notifiche per avvisare delle variazioni dell'orario del calendario giornaliero.">
    <meta property="og:title" content="Login · Fermi Notify">
    <meta property="og:type" content="website">
    <link rel="icon" type="image/x-icon" href="/img/favicon-black.png">
    <script src="/js/hamburger.js" defer></script>
    <!-- css -->
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="stylesheet" href="/css/alertbanner.css" type="text/css">
    <link rel="stylesheet" href="/css/page.css" type="text/css">
    <link rel="preload" href="/css/dark.css" as="style">
	<link rel="preload" href="/css/light.css" as="style">
    <link rel="stylesheet" href="/css/dark.css" type="text/css" id="themeCSS">
    <script src="/js/changeTheme.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/95ae55bd9a.js" crossorigin="anonymous"></script>

    <!-- Material Icon -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    
    <script src="/js/servicestatus.js" defer></script>

<title>Login · Fermi Notify</title>
</head>
<body>
    
<%- include('includes/navbar.ejs', { isLogged: isLogged, active: 'login' }); %>

    <div class="section flex-center-y">   
        <svg version="1.1" viewBox="0 0 535 95" xmlns="http://www.w3.org/2000/svg" class="form-logo logo">
            <circle cx="522.57" cy="12.27" r="9.27" fill="#f00" class="logo-dot"/>
            <path d="m512.77 6.98-0.97 4.82q-246.89-0.01-493.6 0.01-5.11 0-7.28 1.04c-5.12 2.46-6.79 7.56-6.74 13.33q0.19 26.65 0.05 50.48c-0.05 8.05 4.28 13.48 12.67 13.48q243.47 0 494.68-0.08c4.36 0 7.95-2.68 9.83-6.74q1.1-2.37 1.11-8.27 0.04-25.81 0.01-51.87l4.2-0.54q0.12 25.9-0.02 51.62-0.04 7.77-1.53 11.27-3.21 7.51-12.03 9.47h-499.67q-11.83-2.69-13.48-16v-56.47q0.9-7.83 6.35-12.42c2.71-2.28 5.95-3.13 9.75-3.13q248.3-0.02 496.67 0z" fill="#fff"/>
            <path d="m367.32 39.54-12.3-0.02a0.32 0.32 0 0 1-0.32-0.32l0.04-12.03a0.32 0.32 0 0 1 0.32-0.32l38.61 0.05a0.32 0.32 0 0 1 0.32 0.32l0.09 12a0.32 0.32 0 0 1-0.32 0.32l-12.79 0.02a0.32 0.32 0 0 0-0.32 0.32v35.02a0.32 0.32 0 0 1-0.32 0.32l-12.4 0.01a0.32 0.32 0 0 1-0.32-0.32l0.03-35.05a0.32 0.32 0 0 0-0.32-0.32z" fill="#fff"/>
            <path d="m75.18 45.35 23.43-0.05a0.38 0.38 0 0 1 0.38 0.38l0.01 10.18a0.38 0.38 0 0 1-0.38 0.38l-23.45-0.01a0.38 0.38 0 0 0-0.38 0.38l0.02 7.9a0.38 0.38 0 0 0 0.38 0.38l23.42-0.03a0.38 0.38 0 0 1 0.38 0.38l0.02 9.6a0.38 0.38 0 0 1-0.38 0.38h-36.68a0.38 0.38 0 0 1-0.38-0.38l0.02-47.23a0.38 0.38 0 0 1 0.38-0.38l36.64 0.03a0.38 0.38 0 0 1 0.38 0.38l0.01 9.59a0.38 0.38 0 0 1-0.38 0.38l-23.45-0.03a0.38 0.38 0 0 0-0.38 0.38l0.01 7.01a0.38 0.38 0 0 0 0.38 0.38z" fill="#fff"/>
            <path d="m118.75 63.02 0.03 11.64q0 0.56-0.57 0.56h-12.22q-0.49 0-0.49-0.48v-47.21a0.36 0.36 0 0 1 0.36-0.36q8.87 0.19 19.29 0 5.1-0.09 8.69 1.34c12.38 4.97 15.32 20.71 5.16 29.43a0.83 0.81-34 0 0-0.2 0.98l7.8 15.99a0.22 0.21 76.9 0 1-0.19 0.31h-13.64q-0.56 0-0.81-0.51l-5.74-11.86q-0.27-0.56-0.9-0.56l-5.84-0.01q-0.74 0-0.73 0.74zm0.01-24.97v13.16a0.32 0.32 0 0 0 0.32 0.32h7.84a7.26 6.75-0 0 0 7.26-6.75v-0.3a7.26 6.75 0 0 0-7.26-6.75h-7.84a0.32 0.32 0 0 0-0.32 0.32z" fill="#fff"/>
            <path d="m190.92 51.19q0.01-0.77-0.57-0.26l-12.12 10.74q-0.42 0.37-0.83 0l-12.5-10.95a0.23 0.23 0 0 0-0.38 0.17l0.03 23.94q0.01 0.39-0.38 0.39h-12.25q-0.55 0-0.55-0.55v-46.8q0-0.74 0.74-0.7c2.05 0.1 4.71-0.44 6.37 1q9.37 8.12 18.94 16.5a0.6 0.59 44.6 0 0 0.77 0l19.43-17.02q0.45-0.39 1.04-0.39l4.95-0.04a0.64 0.63-90 0 1 0.63 0.64l0.01 46.63q0.01 0.74-0.74 0.74l-12.1-0.01q-0.57 0-0.57-0.56l0.08-23.47z" fill="#fff"/>
            <path d="m264.82 52.79a0.22 0.21-68.6 0 0-0.36 0.16l0.03 21.54q0 0.74-0.73 0.74l-12.04-0.01q-0.49 0-0.49-0.5l0.01-46.7q0-0.76 0.76-0.76c1.86-0.01 4.2-0.5 5.68 0.93q12.06 11.55 22.23 21.34a0.35 0.35 0 0 0 0.59-0.25l-0.02-21.46q0-0.58 0.58-0.58l11.68-0.02a0.77 0.77 0 0 1 0.77 0.77v46.5q0 0.75-0.75 0.75l-3.9-0.03q-0.79-0.01-1.35-0.55l-22.69-21.87z" fill="#fff"/>
            <path d="m435.51 56.65 0.06 18.11a0.47 0.47 0 0 1-0.47 0.47l-12.34-0.01a0.47 0.47 0 0 1-0.47-0.47l-0.04-47.04a0.47 0.47 0 0 1 0.47-0.47l36.48 0.01a0.47 0.47 0 0 1 0.47 0.47l0.08 9.43a0.47 0.47 0 0 1-0.47 0.47l-23.32-0.02a0.47 0.47 0 0 0-0.47 0.48l0.1 6.84a0.47 0.47 0 0 0 0.47 0.46l23.18-0.1a0.47 0.47 0 0 1 0.47 0.47l-0.01 10a0.47 0.47 0 0 1-0.47 0.47l-23.25-0.04a0.47 0.47 0 0 0-0.47 0.47z" fill="#fff"/>
            <path d="m495.81 27.32 14.44-0.08a0.32 0.32 0 0 1 0.28 0.49l-17.97 29.84a0.32 0.32 0 0 0-0.05 0.17l0.04 17.16a0.32 0.32 0 0 1-0.32 0.32h-12.42a0.32 0.32 0 0 1-0.32-0.32l0.01-17.46a0.32 0.32 0 0 0-0.05-0.17l-17.81-29.56a0.32 0.32 0 0 1 0.28-0.49l14.39 0.06a0.32 0.32 0 0 1 0.27 0.16l9.17 15.33a0.32 0.32 0 0 0 0.55 0l9.24-15.3a0.32 0.32 0 0 1 0.27-0.15z" fill="#fff"/>
            <path d="m30.96 56.61 0.04 18.24a0.37 0.37 0 0 1-0.37 0.37l-12.56 0.01a0.37 0.37 0 0 1-0.37-0.37v-47.24a0.37 0.37 0 0 1 0.37-0.37h36.6a0.37 0.37 0 0 1 0.37 0.37l0.11 9.62a0.37 0.37 0 0 1-0.37 0.37l-23.46-0.03a0.37 0.37 0 0 0-0.37 0.37l0.04 7.03a0.37 0.37 0 0 0 0.37 0.37l23.38-0.04a0.37 0.37 0 0 1 0.37 0.37v10.2a0.37 0.37 0 0 1-0.37 0.37l-23.41-0.01a0.37 0.37 0 0 0-0.37 0.37z" fill="#fff"/>
            <rect x="213.11" y="27.24" width="13.28" height="47.98" rx=".33" fill="#fff"/>
            <path d="m349.6 51.005a25.06 24.03-0.4 0 1-24.892 24.204 25.06 24.03-0.4 0 1-25.227-23.854 25.06 24.03-0.4 0 1 24.892-24.204 25.06 24.03-0.4 0 1 25.227 23.854zm-13.06 0.2915a11.99 11.57 0.7 0 0-11.848-11.716 11.99 11.57 0.7 0 0-12.13 11.423 11.99 11.57 0.7 0 0 11.848 11.716 11.99 11.57 0.7 0 0 12.13-11.423z" fill="#fff"/>
            <rect x="399.02" y="27.24" width="13.26" height="47.98" rx=".3" fill="#fff"/>
        </svg>
        <div class="rounded-container" style="margin: 25px; width: min(100%, 450px);">
            <div class="rounded-inner">
                <form class="basic-form" method="POST" action="./login" onsubmit="loading(0)">
                    <h1 class="firstTitle flex-center-x">Accedi</h1>
                    <div class="input-container">
                        <div class="material-textfield">
                            <input placeholder="" type="email" required name="email">
                            <label>Email</label>
                        </div>
                        <p class="firstSubtitle">Non hai un account? <a href="/register" class="link">Registrati</a></p>
                    </div>
                    <div class="input-container">
                        <div class="material-textfield">
                            <input placeholder="" type="password" required name="password" id="password">
                            <label>Password</label>
                            <span id="PSWShowHideIcon" onclick="ShowPSW()"><i class="fa-solid fa-eye-slash"></i></span>
                        </div>
                        <p class="firstSubtitle"><a href="/password_reset" class="link">Password dimenticata?</a></p>
                    </div>
                    <button class="btn filled submit-btn">Accedi</a>
                </form>
            </div>
        </div>

    </div>

<script src="/js/submit-loading.js"></script>

<script src="/js/ShowPSW.js"></script>

<%- include('includes/footer.ejs') %>

<%- include('includes/alertbanner.ejs') %>

</body>
</html>